@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@source "../views";
@source "../../content";
@source inline("bg-primary-{100,200,300,500,700,800,900}");

@theme {
    --font-sans: "Urbanist", sans-serif;
    /*--color-accent: #f5f5f5;*/
    --color-body: var(--color-slate-900);
    --color-neutral: #f2f2f2;
    --color-primary: #0b3b66;
    --color-accent: #ff7a18;

    --color-primary-100: #e6ebef;
    --color-primary-200: #ced7e0;
    --color-primary-300: #547593;
    --color-primary-500: oklch(0.3465 0.0897 250.57);
    --color-primary-700: #082f51;
    --color-primary-800: #041728;
    --color-primary-900: #03111e;
}

[x-cloak] {
    display: none !important;
}
